<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生成excel</title>
    <style>
        .pop_wrap{width: 400px;height: 200px}
    </style>
    <script src="/js/common/jquery-1.9.1.min.js"></script>
</head>
<body>
<div class="pop_wrap">
    <button id="getPageCount">获取数据</button><br>
    <p>获取条件:</p>
    <p class="filter_wrap"></p>
    总共获取 <span id="pageCount"></span>条数据

    <button id="createExcelBtn">生成报表</button>
    <script src="/js/ceateExcel.js"></script>

</div>
</body>
</html>