<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预览页</title>
    <link rel="stylesheet" href="/css/preView.css">
    <script src="/js/common/jquery-2.1.3.min.js"></script>
    <link href="/js/common/datatable/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
    <link href="/js/common/datatable/buttons.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <script src="/js/common/datatable/jquery.dataTables.js"></script>
    <script src="/js/common/datatable/dataTables.buttons.min.js"></script>
    <script src="/js/common/datatable/jszip.min.js"></script>
    <script src="/js/common/datatable/buttons.html5.min.js"></script>
    <script src="/js/common/datatable/dataTables.rowsGroup.js"></script>
    <!--<script src="/js/common/image-to-base64.js"></script>-->
    <script src="/js/common/exceljs.js"></script>
    <script src="/js/common/FileSaver.js"></script>
</head>
<body>
<div>
    <p class="countColumn">
        <label>以货号为统计<input type="radio" name="countColumn" value="product_num" checked></label>
        <label>以产品名为统计<input type="radio" name="countColumn" value="pro_name"></label>
    </p>
    <button id="downExcel">下载为excel</button>
</div>
<div>
    <p>上传进货文件：</p>
    <input type="file" id="in_product" name="in_product" value="">

</div>
<div>
    <p>获取条件:</p>
    <p class="filter_wrap"></p>
</div>
<div id="preContent">
    <table id="example" class="display" width="100%">
    </table>
</div>
<script src="/js/preView.js"></script>
</body>
</html>
