<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预览页</title>
    <link rel="stylesheet" href="/css/preView.css">

    <script src="/js/common/jquery-2.1.3.min.js"></script>


    <link href="/js/common/datatable/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="/js/common/datatable/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />


    <script src="/js/common/datatable/jquery.dataTables.js"></script>
    <script src="/js/common/datatable/dataTables.buttons.min.js"></script>
    <script src="/js/common/datatable/jszip.min.js"></script>
    <script src="/js/common/datatable/buttons.html5.min.js"></script>

    <script src="/js/common/datatable/dataTables.rowsGroup.js"></script>


</head>
<body>
<div>
    <button id="downExcel">下载为excel</button>
</div>
<div id="preContent">
    <table id="example" class="display" width="100%">
    </table>
</div>

<script src="/js/preView.js"></script>

</body>
</html>
